.button { outline:none; width: 15rem; height: 4rem; cursor: pointer; color: $color-secundary; background-color: transparent; font-size: 1.5rem; transition: .3s ease-out;
  &:hover { background-color: $color-secundary; color: $color_primary-2; border:none;}
}
